includeConfig "$baseDir/conf/aws_batch.config"

manifest {
  name = 'Hybrid Assembly'
  author = 'Xiandong Meng'
  homePage = 'https://github.com/FischbachLab/nf-hybridassembly'
  description = 'Hybrid Strain Assembly pipeline for short and long reads'
  //mainScript = 'main.nf'
  version = '1.0.0'
  defaultBranch = 'main'
}

process {
  maxRetries = 3
  executor = 'awsbatch'
  queue = "default-maf-pipelines"
  cleanup = true
  //container = ''
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  cache = false
}

docker.enabled = true

aws {
  region = "us-west-2"
}

//aws.batch.cliPath = '/home/ec2-user/miniconda3/bin/aws'

params{
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them)
 * Each of the following parameters can be specified as command line options
 */
 /* 	Initialization
  --------------------------------*/
  reads1 = ""
  reads2 = ""
  long_reads = ""
  output_path = "s3://genomics-workflow-core/Pipeline_Results/hybridassembly/"
  //"s3://genomics-workflow-core/Pipeline_Results/hybridassembly/${params.output_prefix}"
  coverage = 400
  sampleRate = 70
  container = 'fischbachlab/nf-hybridassembly:latest'
}

docker {
    enabled = true
}

profiles {
  //awsbatch { includeConfig 'conf/awsbatch.config' }
  //conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  //singularity { singularity.enabled = true }
  //test { includeConfig 'conf/test.config' }
}


timeline {
  enabled = false
  overwrite = true
  file = "$params.output_path/execution_reports/timeline.html"
}

report {
  enabled = false
  overwrite = true
  file = "$params.output_path/execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.output_path/execution_reports/pipeline_dag.html"
}
